.instaOptions {
	width: 100%;
	display: flex;
	justify-content: space-around;
	list-style: none;
}
.instaOptions a {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--DarkBlueLight);
	width: 30%;
	margin: 14px 0px;
	height: 100px;
	border-radius: 6px;
	transition: all 0.5s ease-in-out;
}
.instaOptions .active {
	border: 2px solid var(--LightBlueGray);
}
.instaOptions a .icon {
	color: var(--Yellow);
	margin: 10px 0px;
}
.instaOptions a li {
	font-size: 1.5em;
	color: var(--BlueGray);
}

@media only screen and (max-width: 768px) {
	.instaOptions a li {
		font-size: 1em;
	}
}
