.Nav-H {
	/* background-color: var(--LightBlueGray); */
	background-color: var(--DarkBlueLight);
	height: 10vh;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.Nav-H .navbar {
	height: 100%;
}

.Nav-H ul {
	list-style: none;
}

.Nav-H ul li {
	font-size: 1.5em;
	color: var(--DarkBlue);
	font-weight: 700;
	transition: all 1s ease-in-out;
}
