.Nav-v {
	height: calc(100vh - 14vh - 10vh);
	width: fit-content;
	padding: 0px 9px;
	background-color: var(--DarkBlueLight);
	box-shadow: 2px 0px 2px -2px rgba(0, 0, 0, 0.2);
}
.Nav-v ul {
	list-style: none;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 0;
}
.Nav-v ul a {
	font-size: 1.75em;
	color: var(--Pewter);
	text-decoration: none;
}
