:root {
	--BlueGray: #90adc6;
	--Pewter: #e9eaec;
	--LightBlueGray: #96b5d1;
	--Yellow: #fad02c;
	--DarkBlue: #333652;
	--DarkBlueLight: #3c4061;
}

.App {
	/* height: 100vh; */
	background-color: var(--DarkBlue);
}
