.Youtube {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.media {
	position: relative;
	width: 50%;
}
.media label {
	position: absolute;
	padding: 20px;
	color: var(--Yellow);
	transition: all 0.5s ease-in-out;
	left: 0;
	width: fit-content;
}
.media .error {
	position: absolute;
	width: fit-content;
	bottom: 87px;
	color: #ff3333;
	font-size: 1em;
}
.media input {
	position: relative;
	width: 100%;
	height: 4em;
	background: transparent;
	border: 3px solid var(--BlueGray);
	border-radius: 6px;
	padding: 20px;
	z-index: 100;
	outline: none;
}
.media input:focus ~ label,
.media input:valid ~ label {
	padding: 0 4px;
	transform: translate(10px, -50%);
	z-index: 110;
	background-color: var(--DarkBlue);
}
.MP3,
.MP4 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 34px;
	pointer-events: none;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.MP3 button,
.MP4 button {
	padding: 10px 64px;
	border: none;
	border-radius: 6px;
	color: var(--DarkBlue);
	font-size: 1.25em;
}
.MP3 button {
	background-color: var(--BlueGray);
}
.MP4 button {
	background-color: var(--BlueGray);
	transition: all 0.2s ease-in-out;
}
.MP3 button:hover,
.MP4 button:hover {
	background-color: var(--LightBlueGray);
}
.spinner-border,
.spinner-grow {
	color: var(--Yellow);
}

.des .title {
	color: var(--LightBlueGray);
	text-transform: capitalize;
}
.des .info {
	color: var(--Yellow);
	font-weight: 100;
	opacity: 0.5;
}
.downloadCard .img {
	display: flex;
	background-color: var(--DarkBlueLight);
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}
.download-selection .btn {
	position: relative;
	background-color: var(--BlueGray);
	color: var(--DarkBlue);
	transition: all 0.5s ease-in-out;
}
.download-selection .btn h5 {
	z-index: 10;
	transition: all 0.2s 0.2s ease-in-out;
}
.download-selection .btn::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	border-radius: 0.375rem;
	background-color: var(--Yellow);
	transition: all 0.2s ease-in-out;
	z-index: 5;
}
.download-selection .btn:hover {
	background-color: var(--LightBlueGray);
}
.download-selection .btn:hover h5 {
	color: var(--DarkBlue);
	font-weight: 700;
}
.download-selection .btn:hover::after {
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.media {
		width: 80% !important;
	}
	.media .error {
		width: 100%;
		text-align: center;
	}
}
